#------------------------------------------------------------------------------#
# vi: set sw=4 ts=4 ai:                            ("set modeline" in ~/.exrc) #
#------------------------------------------------------------------------------#

#------------------------------------------------------------------------------#
#                    V e r s i o n   i n f o r m a t i o n                     #
#------------------------------------------------------------------------------#
# $Id:: .gitattributes 3 2010-09-07 06:46:39Z tonk                          $: #
# $Revision:: 3                                                             $: #
# $Author:: Ton Kersten <GitHub@TonKersten.com>                             $: #
# $Date:: 2010-09-07 08:46:40 +0200 (Tue, 07 Sep 2010)                      $: #
# $Hash::                                                                   $: #
#------------------------------------------------------------------------------#
#             E n d   o f   v e r s i o n   i n f o r m a t i o n              #
#------------------------------------------------------------------------------#

*	filter=gitvi
